{% for post in collections.posts %}
  <article>
    <h2>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>

    {% if post.data.date %}
      <p>
        <time datetime="{{ post.data.date | htmlDateString }}">
          {{ post.data.date | readableDate }}
        </time>
      </p>
    {% endif %}

    {% if post.data.description %}
      <p>{{ post.data.description }}</p>
    {% endif %}
  </article>
{% endfor %}